<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Visite nossas redes sociais!</title>
</head>

<body>
    <header class="menu">
        <nav>
            <a class="menuLink" href="./menu.html">Cardápio virtual</a>
        </nav>
        <nav>
            <a class="homeLink" href="./index.html">Início</a>
        </nav>
    </header>

    <main>
        <section class="headerMenu">
            <img class="logoTonho" src="../assets/logoTonho.png" alt="Logo">
            <h1>Estamos trabalhando!!!</h1>
        </section>
    </main>
</body>

</html>