<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Tonho Lanches</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="menu">
        <nav>
            <a class="menuLink" href="./menu.html">Cardápio virtual</a>
        </nav>
        <nav>
            <a class="contactLink" href="./contact.html">Contato</a>
        </nav>
    </header>

    <main>
        <img class="logoTonho" src="../assets/logoTonho.png" alt="Logo">
    </main>
</body>

</html>