<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ipsep Coffee Shop</title>
    <link rel="stylesheet" href="../styles/menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a class="menuLink" href="./index.html">Voltar</a>
        <h1>Cardápio</h1>
        <p>Horário: De Terça à Domingo. 18:00h - 22:45h</p>
    </header>

    <section>
        <div>
            <h2>Brunch</h2>
        </div>
        <div>
            <ul>
                <li>
                    <div class="details">
                        <h3>Waffle Doce</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                    <strong class="price">
                        R$ 37,70
                    </strong>
                </li>

                <li>
                    <div class="details">
                        <h3>Maçã Doce</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                    <strong class="price">
                        R$ 17,70
                    </strong>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>