<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Cardápio do Seu Tonho</title>
</head>

<body>
    <header class="menu">
        <nav>
            <a href="#sanduiches">Sanduíches</a>
        </nav>
        <nav>
            <a href="#tortasedoces">Tortas e Doces</a>
        </nav>
        <nav>
            <a href="#salgados">Salgados</a>
        </nav>
        <nav>
            <a href="../index.html">Início</a>
        </nav>
        <nav>
            <a href="./about.html">Sobre</a>
        </nav>
    </header>
    <main class="mainMenu">
        <section class="headerMenu">
            <a class="homeLink" href="../index.html">
                <img class="logoTonho" src="../assets/logoTonho.png" alt="Logo">
            </a>

            <h1>Cardápio</h1>
            <p>Horário: De Terça à Domingo. 18:00h - 22:45h</p>
        </section>
        <a name="sanduiches"></a>
        <!-- SANDUÍCHES -->
        <section class="productSection">
            <div>
                <h2>Sanduíches</h2>
            </div>
            <div>
                <ul>
                    <!-- AMERICANO -->
                    <li>
                        <div class="details">
                            <h3>Americano</h3>
                            <p class="description">
                                Pão de forma, queijo prato, presunto, ovo, alface, tomate, cebola, dueto de milho e
                                ervilha. Acompanha molho especial da casa.
                            </p>
                        </div>
                        <strong class="price">
                            R$ 16,80
                        </strong>
                    </li>
                    <!-- MC TONHO -->
                    <li>
                        <div class="details">
                            <h3>Mc Tonho</h3>
                            <p class="description">
                                Pão de forma, queijo queijo prato, presunto, hambúrguer, ovo, alface, tomate, cebola,
                                dueto
                                de milho e ervilha, patatapalha. Acompanha molho especial da casa.
                            </p>
                        </div>
                        <strong class="price">
                            R$ 18,10
                        </strong>
                    </li>
                    <!-- CACHORRO QUENTE -->
                    <li>
                        <div class="details">
                            <h3>Cachorro Quente</h3>
                            <p class="description">
                                Pão, salsicha, vinagrete (tomate e cebola), cenoura, dueto de milho e ervilha, uva
                                passa,
                                batata palha, maionese, molho rosé, queijo ralado.
                            </p>
                        </div>
                        <strong class="price">
                            R$ 17,70
                        </strong>
                    </li>
                    <!-- MISTO QUENTE -->
                    <li>
                        <div class="details">
                            <h3>Misto Quente</h3>
                            <p class="description">
                                Pão de forma, queijo prato, presunto.
                            </p>
                        </div>
                        <strong class="price">
                            R$ 10,75
                        </strong>
                    </li>
                </ul>
            </div>
        </section>
        <a name="tortasedoces"></a>
        <!-- TORTAS E DOCES -->
        <section class="productSection">
            <div>
                <h2>Tortas e Doces</h2>
            </div>
            <div>
                <ul>
                    <!-- TORTA HUNGRA -->
                    <li>
                        <div class="details">
                            <h3>Torta Hungra</h3>
                            <p class="description">
                                Massa de pão de ló branco, recheios de ameixa, goiaba, coco e na cobertura, granulado de
                                amendoim.
                            </p>
                        </div>
                        <strong class="price">
                            R$ 15,50
                        </strong>
                    </li>
                    <!-- TORTA DE CHOCOLATE -->
                    <li>
                        <div class="details">
                            <h3>Torta de Chocolate</h3>
                            <p class="description">
                                Torta sabor chocolate com cobertura e recheios de chocolate.
                            </p>
                        </div>
                        <strong class="price">
                            R$ 15,50
                        </strong>
                    </li>
                    <!-- TORTA DE LIMÃO -->
                    <li>
                        <div class="details">
                            <h3>Torta de Limão</h3>
                            <p class="description">
                                Torta com sabor limão.
                            </p>
                        </div>
                        <strong class="price">
                            R$ 17,70
                        </strong>
                    </li>
                    <!-- TORTA DE PRESTÍGIO -->
                    <li>
                        <div class="details">
                            <h3>Torta de Prestígio</h3>
                            <p class="description">
                                Torta de chocolate com recheio cremoso de côco.
                            </p>
                        </div>
                        <strong class="price">
                            R$ 15,50
                        </strong>
                    </li>
                </ul>
            </div>
        </section>
        <a name="salgados"></a>
        <!-- SALGADOS -->
        <section class="productSection">
            <div>
                <h2>Salgados</h2>
            </div>
            <div>
                <ul>
                    <!-- COXINHA -->
                    <li>
                        <div class="details">
                            <h3>Coxinha de Frango</h3>
                            <p class="description">
                                Recheio de frango.
                            </p>
                        </div>
                        <strong class="price">
                            R$ 8,00
                        </strong>
                    </li>
                    <!-- ENROLADINHO DE QUEIJO -->
                    <li>
                        <div class="details">
                            <h3>Enroladinho de Queijo</h3>
                            <p class="description">
                                Massa de coxinha com recheio de queijo coalho.
                            </p>
                        </div>
                        <strong class="price">
                            R$ 8,00
                        </strong>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>
</html>